{{#if data}}
{{> userheaderafter}}
{{else}}
{{> userheader}}
{{/if}}


<section class="product spad">
    <div class="container">
        
        <div class="row property__gallery">
            {{#each productdata}}
            <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="images/{{this.image.[0]}}">
                        <div class="label new">New</div>
                        <ul class="product__hover">
                            <li><a href="img/product/product-1.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a onclick="addtowishlist('{{this._id}}')"><span class="icon_heart_alt"></span></a></li>
                            <li><a onclick="addtocart('{{this._id}}')"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/productdetails?id={{this._id}}">{{this.name}}</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">Rs. {{this.price}}</div>
                    </div>
                </div>
            </div>
           {{/each}}
        </div>
    </div>
</section>


{{/userfooter}}